node_modules/


.env
.env.docker
.env.local


*.log


coverage/


.DS_Store
Thumbs.db


.vscode/
.idea/

database/backups/
database/init/02-data.sql
database/init/*.sql.gz
*.sql
*.dump

mysql-data/
redis-data/